.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #212b41;
  padding: 5px 0px 5px 10px;
}

.productImage {
  text-align: center;
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

h6 {
  font-size: 13px;
  justify-content: center;
  color: rgb(146, 137, 137);
}

.tagsButton{
  margin-bottom: 100%;
}